                /* RESET */
                
                * {
                    margin: 0;
                    /* margem */
                    padding: 0;
                    /* espaçamento interno */
                    font-size: 100%;
                    /* tamanho da fonte */
                    font-family: 'Open Sans', sans-serif;
                    /* tipo de fonte */
                    font-weight: normal;
                    /* largura da fonte */
                    box-sizing: border-box;
                    /* tamanho da caixa */
                    border: none;
                    /* borda */
                    outline: none;
                    /* linha de fundo */
                }
                
                img {
                    max-width: 100%;
                }
                
                ul {
                    list-style: none;
                }
                
                a {
                    text-decoration: none;
                }
                
                h2 {
                    font-size: 1.5em;
                    color: rgb(0, 0, 0);
                }
                
                p {
                    font-size: 1em;
                    color: rgb(0, 0, 0);
                }
                
                body {
                    background-color: #ffffff;
                }
                /* CABEÇALHO */
                
                .cabecalho {
                    width: 100%;
                    float: left;
                    padding: 50px 8%;
                    background-attachment: fixed;
                    background-size: 100%;
                }
                
                .logo a {
                    width: 444px;
                    height: 109px;
                    float: left;
                    background-image: url(../imagem/logo.jpeg);
                    background-repeat: no-repeat;
                    font-size: 0;
                }
                
                .cabecalho form {
                    width: 30%;
                    float: right;
                }
                
                .cabecalho input[type="text"] {
                    background-color: rgba(184, 184, 184, 0.904);
                    width: 85%;
                    float: left;
                    padding: 15px 10px;
                    border-radius: 10px 0 0 10px;
                    /* espaçamento respectivo sentido horário: cima; direita; baixo; esquerda */
                }
                
                .cabecalho button {
                    width: 15%;
                    float: right;
                    padding: 15px 10px;
                    border-radius: 0 10px 10px 0;
                    cursor: pointer;
                    background-color: #0cae98;
                    color: #92940c;
                    background: linear-gradient(to bottom, #777, #afff);
                }
                
                .menu {
                    width: 100%;
                    float: right;
                    background-color: #2850bdd2;
                    padding: 18px 8%;
                }
                
                .menu li {
                    float: left;
                    display: block;
                }
                
                .menu a {
                    color: black;
                    margin-right: 25px;
                }
                
                .menu li a:hover {
                    color: white;
                    font-size: 1.1em;
                }
                
                .social-icons {
                    float: right;
                }
                
                .social-icons a {
                    color: black;
                    float: left;
                    margin-left: 25px;
                }
                
                .fa-facebook:hover {
                    color: #3b5998;
                    background: white;
                    border-radius: 360px;
                }
                
                .fa-twitter:hover {
                    color: #0ace
                }
                
                .fa-instagram:hover {
                    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
                    background: -webkit-radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
                    -webkit-background-clip: text;
                    background-clip: text;
                    color: transparent;
                    -webkit-text-fill-color: transparent;
                }
                
                .fa-google:hover {
                    background: conic-gradient(from -45deg, #ea4335 110deg, #4285f4 90deg 180deg, #34a853 180deg 270deg, #fbbc05 270deg) 73% 55%/150% 150% no-repeat;
                    -webkit-background-clip: text;
                    background-clip: text;
                    color: transparent;
                    -webkit-text-fill-color: transparent;
                }
                
                .fa-youtube:hover {
                    color: #c4302b;
                    background: white;
                }
                
                .fa-linkedin:hover {
                    color: #0077b5;
                    background: 1px white;
                }
                /* PRINCIPAL */
                
                .principal {
                    width: 100%;
                    float: left;
                    padding: 16px 8%;
                }
                
                .sobre {
                    width: 70%;
                    float: left;
                    padding: 0 20px 20px 0;
                }
                
                .sobre h2 {
                    margin-bottom: 15px;
                }
                
                .sobre img {
                    width: 50%;
                    float: left;
                    border-radius: 6px;
                    margin: 0 15px 15px 0;
                }
                
                .sobre p {
                    font-size: 1.1em;
                    text-align: justify;
                }
                
                .atendimentos {
                    width: 70%;
                    float: left;
                    padding: 0 20px 20px 0;
                }
                
                .atendimentos h2 {
                    font-size: 2em
                }
                
                .atendimentos p {
                    text-align: justify;
                    font-size: 1em;
                    color: #111;
                }
                
                .fa-envelope {
                    color: #49868C;
                }
                
                .fa-phone-volume {
                    color: #49868C;
                }
                
                .atendimentos a {
                    color: #49868C;
                }
                
                .principal img {
                    width: 35%;
                    margin: 0 15px 15px 0;
                    border-radius: 8px;
                }
                
                .principal p {
                    text-align: left;
                }
                
                .servicos-img {
                    margin-top: 10px;
                }
                
                #texto-servico {
                    width: 55%;
                    font-size: 1em;
                    text-align: center;
                    font-family: 'Times New Roman', Times, serif;
                }
                
                .direita p {
                    font-family: 'Times New Roman', Times, serif;
                }
                
                .esquerda p {
                    font-family: 'Times New Roman', Times, serif;
                }
                /* ONDE ESTAMOS */
                
                .onde-estamos {
                    width: 30%;
                    float: right;
                    padding: 10px 20px;
                    background-color: #ccc;
                    border-radius: 11px;
                }
                
                .onde-estamos h2,
                p {
                    margin-bottom: 7px;
                    text-align: center;
                }
                
                .onde-estamos iframe {
                    width: 100%;
                    height: 210px;
                    margin: 13px 0;
                }
                
                .onde-estamos li {
                    color: darkcyan;
                    bottom: 6px;
                }
                /* NEWSLETTER */
                
                .newsletter {
                    width: 100%;
                    float: left;
                    background-color: rgba(12, 11, 11, 0.87);
                    padding: 50px 8%;
                }
                
                .newsletter h3 {
                    font-size: 1.8em;
                    color: #fff;
                }
                
                .newsletter p {
                    font-size: 1.2em;
                    color: #fff;
                    text-align: left;
                }
                
                .newsletter form {
                    width: 100%;
                    float: left;
                    margin-top: 10px;
                }
                
                .newsletter form input {
                    width: 40%;
                    margin-right: 1%;
                    padding: 15px 10px;
                    border: 1px solid #fff;
                    border-radius: 10px;
                    color: #fff;
                    background-color: initial;
                }
                
                .newsletter button {
                    width: 17%;
                    background-color: #fff;
                    padding: 15px 10px;
                    border-radius: 10px;
                    float: right;
                    cursor: pointer;
                }
                
                .rodape {
                    width: 100%;
                    float: left;
                    background-color: #2850bdd2;
                    padding: 25px 8%;
                }
                
                .rodape p {
                    color: #fff;
                }
                
                .direita {
                    float: right;
                    width: 500px;
                }
                
                .esquerda {
                    float: left;
                    width: 500px;
                }